<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div><label> User Name : <input type="text" name="username" placeholder="user1 or user2 or admin1" size="30" /> </label></div>
        <div><label> Password: <input type="password" name="password" placeholder="demo" /> </label></div>
        <div><input type="submit" value="Sign In" /></div>
    </form>

    <hr>

    <div>
        reference: <a href="https://spring.io/guides/gs/securing-web/" target="_blank">
            https://spring.io/guides/gs/securing-web/
        </a>
    </div>
    <div>
        <a href="/">HOME</a>
    </div>
</body>

</html>
